:root {
  --blue: #034788;
  --white: whitesmoke;
  --black: black;
  --border: 3px solid black;
  --border-grey: 3px solid grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: var(--blue);
  color: var(--white);
  padding: 3%;
  border-bottom: var(--border);
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
}

.header #title {
    font-size: 300%;
}

#container {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 50%;
    height: 50%;
    border: var(--border);
    border-radius: 2em;
    box-shadow: 15px 10px 5px grey;
}

#questions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
    padding: 2%;
}

#timer {
    float: right;
}

#questions h1 {
    margin-bottom: 2%;
    font-weight: 700;
    font-size: 200%;
    text-decoration: underline;
}

#questions p {
    font-size: 150%;
}

#questions h1, p {
    text-align: center;
}

button {
margin-top: 5%;
background-color: var(--blue);
color: var(--white);
font-size: 20px;
padding-left: 5%;
padding-right: 5%;
padding-top: 2%;
padding-bottom: 2%;
border: var(--border);
border-radius: .75em;
}

#start:hover {
    background-color: green;
    cursor: pointer;
    box-shadow: 10px 5px 5px grey;
}

.hide {
    display: none;
}